# -----------------------------
# Virtual Environment
# -----------------------------
venv/
env/
ENV/

# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Jupyter Notebook
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Environment variables
# -----------------------------
.env

# -----------------------------
# Model / output files
# -----------------------------
*.pkl
*.joblib

# -----------------------------
# Matplotlib / generated images
# -----------------------------
*.png
*.jpg
*.jpeg

# -----------------------------
# Temporary files
# -----------------------------
*.tmp
*.temp